@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

.details {
    display: none;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.details img {
    width: 100vw;
    height: 50vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details video {
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    margin-top: 20px;
    height: 10vh;
    margin-bottom: 30px;
}

.wow-button {
    font-weight: bold;
    margin-top: 1em;
    background-color:white;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
}

.credit {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.credit a {
    color: #222;
}
  
@media (max-width: 1100px)  { 
    .details {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .details img {
        width: 100vw;
        height: 50vh;
        object-fit: contain;
    }

    .button { 
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}
